@media (min-width:0) {
    .cartFlex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 130px;
    }
.cartCard{
    width: 90%;
   
    margin:  20px 4%;
    padding: 1%;
    border-radius: 1rem;
    background-color: indianred;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.cartButtonsFinalPrice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    background-color: indianred;
    padding-bottom: 30px;
    bottom: 0px;
    border-radius: 0.5rem;
    border: 2px indianred dotted;
    box-shadow: 0px 0px 15px 5px rgb(205, 92, 92,0.3);
    z-index: 1;
}
.cartButtonsFlex{
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
}
.cartCardSeparator{
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cardInfoFlex{
    display: flex;
    width: 80%;

    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.cartInfo{
    width: 45%;
}
.cartProductImg{
    width: 100%;
    border-radius: 0.5rem;
    height: 20vh;
    background-size:cover;
    background-position: center;
}

.checkoutLink a{
    margin: 0;
}
    .checkoutLink{
        width: 200px;
        height: 40px;
        border:indianred 2px solid;
        color: black;
        background-color:rgb(254, 213, 213,0.9);
        margin: 5px 0;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:0.5rem;
    }   
    .checkoutLink:hover{
        cursor: pointer ;
        border:rgb(254, 213, 213,0.6) 1px solid;
        background-color:indianred;
        color: rgb(254, 213, 213);
    }
    .vistaImposibilitada {
        background-color: indianred;
        padding: 10px 15px ;
        border-radius: 1rem;
        margin: 70px 20% 0 20%;
        color: rgb(254, 213, 213);
    }
    .cartName{
        color: rgb(254, 213, 213);
        
    }
   
    }
  
@media (min-width:756px) {
    .cartCard{
        height: 25vh;
        flex-direction: row;
    }
    .cartProductImg{
        height: 23vh;
    }
    .categoryTitle{
        font-size: 26px;
    }
    .cartCardSeparator{
        width: 24%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cardInfoFlex{
        width: 24%;
        flex-direction: column;
        height: 15vh;
    }
    .cartName{
        font-size: 1rem;
    }
    .cartInfo{
        width: 100%;
    }
    .cartButtonsFinalPrice{
        width: 100%;
        justify-content: space-around;
    }
}