@media (min-width:0) {
    Link{
        text-decoration: none;
    }
    .itemDetailCard{
    
        background-color: indianred;
        box-shadow: 0px 0px 10px 2px rgb(40, 44, 52,0.4);
        padding: 10px 20px;
        margin: 30px 5%;
        border-radius: 1rem;
        width: 70%;        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        height: 80vh;
    }
    .detailImg{
        width: 100%;
    }
    .detailInfo{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .courseDetailName{
       
        color:  rgb(254, 213, 213);
        text-align: center;
        font-weight: 700;
        font-size: 1.2rem;
        padding: 10px 5px;
    }
    
    .courseDetailType{
      
        color:rgb(254, 213, 213);
        font-weight: 500;
        font-style: italic;
        width: 60%;
        background-color: rgba(155, 43, 43, 0.4);
        box-shadow: 0px 0px 10px 2px rgb(40, 44, 52,0.3);;
        padding: 5px 2% ;
        border-radius: 0.5rem;

    }
    .detailCounter{
        margin-top: 10px;
    }
    .courseDetailImg{
        width: 100%;
        height: 30vh;
        background-size:cover;
        background-position: center;
        border-radius: 0.5rem; margin-bottom: 10px;
    }
    
    .courseDetailTxt{
        width: 95%;
        margin: 10px  2.5% 10px 2.5%;
        
    }
    
    
    h4{
        margin: 0;
    }
    h5{
        margin: 0;
    }
    p{
        margin: 0;
    }
    .courseDetailDesc{
        font-size: 16px;
        text-align: left;
        font-weight: 500;
    }
    .bottomDetailCard{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin:  0  ;
    }
    .courseDetailPriceStock{
        width: 70%;
        margin: 10px;
        text-align: center;
    align-items: center;
    justify-content:space-between;
}
.courseDetailStock{
    font-size: 14px;
    color:  rgb(254, 213, 213);
}
.courseDetailPrice{
    font-size: 20px;
}
.courseDetailBuyButton{
    width: 40%;
    text-align: right;
}
.courseDetailBuyButton button{
    background-color: rgb(254, 213, 213);
    padding: 7.5px 15px;
    border: 1px solid rgb(254, 213, 213);
    border-radius: 0.5rem;
    font-size: 16px;
    
    font-weight: 800;
}

}
@media (min-width:456px) {
    .bottomDetailCard{
        flex-direction: row;
    }
    .courseDetailPriceStock{
        width: 50%;
    }
    .detailCounter{
        width: 50%;
    }
    
}
@media (min-width:1024px) {
    .itemDetailCard{
        flex-direction: row;
        align-items: flex-end;
        width: 90%;
        height: 45vh;
    }
    .detailImg{
        width: 40%;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .courseDetailImg{
        height: 40vh;
    }
    .detailInfo{
        width: 56%;
        height: 40vh;
        padding: 0 2%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
    }
    .itemCard{
        width: 33%;
        margin: 20px 2.5% 20px 2.5%;
    }
    .detailCounter{
        width: 50%;
    }
   
}
    @media (min-width:1024px) {
        .itemDetailCard{
            flex-direction: row;
            align-items: center;}
        .itemCard{
            width: 25%;
    
        }}
    