@media (min-width:0) {
    .defaultButton{
        width: 50px;
        height: 40px;
        border:indianred 2px solid;
        background-color:rgb(254, 213, 213,0.9);
        margin: 5px 0 ;
        font-size: 20px;
        transition: all 0.25s
    }   
    .defaultButton:hover{
        cursor: pointer ;
        border:rgb(254, 213, 213,0.6) 1px solid;
        background-color:rgb(254, 213, 213,0.6);
    }
}

@media (min-width:756px) {
    .defaultButton{
        width: 35px;
       }
       
}