@media (min-width: 0) {
    .itemListView {
        width: 100%;
       margin: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
    }
    .viewsTitle{
        font-weight:600 ;
        font-size: 1.5rem;
        font-style: italic;
    }
    h3{
        margin: 0;
    }
    h1{
        margin: 0;
    }
    .stock{
        border: 2px indianred solid;
        border-radius: 1rem;
        margin: 30px 0;
        width: 50%;
        padding:30px;
    }
    .loading{
        margin: 30px;
    }
 
}
@media (min-width: 756px) {
    .itemListView {
        width: 94%;
        margin: 70px 3% 40px 3%;
        position: relative;
    }
    .viewsTitle{
        font-size: 2rem;
        margin-bottom: 40px;
    }
}
@media (min-width: 942px) {
    
}
@media (min-width: 1024px) {
    
}