@media (min-width: 0) {
    .itemListView {
        width: 100%;
       margin: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
    }
    .viewsTitle{
        font-weight:600 ;
        font-size: 1.5rem;
        font-style: italic;
    }
    h3{
        margin: 0;
    }
    h1{
        margin: 0;
    }
    .stock{
        border: 2px indianred solid;
        border-radius: 1rem;
        margin: 30px 0;
        width: 50%;
        padding:30px;
    }
    .loading{
        margin: 30px;
    }
 .categoryTitle{
    margin: 0 0 30px 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: rgb(254, 213, 213);
    background-color: indianred;
    padding: 5px 10px 7px 10px;
    font-weight: 600;
    box-shadow: 0px 5px 10px 2px rgb(40 44 52 / 40%);
}
}
@media (min-width: 456px) {
    .categoryTitle{
        font-size: 22px;
     }
}
@media (min-width: 756px) {
    .itemListView {
        width: 96%;
        margin: 0px 2% 40px 2%;
        position: relative;
    }
    .viewsTitle{
        font-size: 2rem;
        margin-bottom: 40px;
    }
    .categoryTitle{
        display: none;
        font-size: 26px;
    padding: 10px 15px;

    box-shadow: 0px 0px 10px 2px rgb(40 44 52 / 40%);
     }
}
@media (min-width: 942px) {
    
}
@media (min-width: 1024px) {
    
}