@media (min-width:0) {
   .notification{
       z-index: 1;
        position: relative;
    padding: 10px 20px;
    color: white;
    top: 0;
    opacity: 1;
    width: 100%;
   }
   
}
@media (min-width:756px) {
    .notification{
        top: 150px;
    }
    
}

