@media (min-width: 0) {
  .menuMobile{
    display: flex;
    width: 100%;
    padding: 0px;
    margin: 0;
    background-color: indianred;
    align-items: center;
    justify-content: space-between;
  }
  .agusJpg{
    width: 100%;
    box-shadow: 0px 0px 10px 2px rgba(110, 110, 110, 0.6);
  }
  .fotoAgus{
    width: 50%;
    display: flex;
  }
  .barsIconBox{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }  
  .barsIcon{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:indianred ;
    background-color: rgb(254, 213, 213, 1);
    border: rgb(254, 213, 213) solid 0px; 
    box-shadow: 0px 0px 10px 2px rgb(254, 213, 213, 0.4);
    border-radius: 1rem;
    font-size: 32px;
    margin-right: 60px;
  }

  .xIcon{
    color: rgb(254, 213, 213);
    background-color: indianred;
    border: #282c34 solid 0px;width: 70px;
    height: 70px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    margin-right: 60px;
  }

  .greetingDesktop{
    display: none;
  }

  .menu{
    background-color: indianred;
    width: 50%;
    height: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10%;
    position: fixed;
    visibility:visible;
    top: 0;
    transition: all 0.25s;
    box-shadow: 0px 0px 10px 2px rgb(40, 44, 52,0.6);
  }


  .logo-img-header{
    width: 150px;
  }
  .navbar-list{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px 0px;
    width: 100%;
    justify-content: space-around;
  }
  .navbar-list li{
    list-style: none;
    padding: 15% 15px;
  }
  .cart-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border:  rgb(254, 213, 213) 1px solid;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 2px rgb(40, 44, 52,0.2);
    margin: 0 0 20px 0 ;
  }
  a{
    text-decoration: none;
  }
  .cart-icon{
    padding: 20px 50px;
    color: rgb(254, 213, 213);
  }
  .cart-box:hover{
    background-color: #282c34;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 2px rgb(40, 44, 52,0.6);
  }
  .cart-box:hover .cart-icon{
    color:  rgb(254, 213, 213);
  }
  .activeOption{
    color: indianred;
    background-color:  rgb(254, 213, 213);
  
    padding: 8px 15px;
    border-radius: 0.3rem;  font-weight: 600;
  }

  .activeOption:hover{ color:  rgb(254, 213, 213);
    border: rgb(254, 213, 213) 2px solid;
    padding: 6px 13px;
    background-color: indianred;
    box-shadow: 0px 0px 10px 2px rgb(40, 44, 52,0.2);
  }

  .navBarOption:hover{
    border: rgb(254, 213, 213) 2px solid;
    padding: 6px 11px;
    box-shadow: 0px 0px 10px 2px rgb(40, 44, 52,0.2);
  }
  .navBarOption{
    text-decoration: none;
    color: rgb(254, 213, 213);
    border-radius: 0.3rem;
    font-weight: 600;
    padding: 6px 13px;
    font-size: 1rem;
    }

  .cart-box:hover{
    background-color:  rgb(254, 213, 213);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 2px rgb(40, 44, 52,0.6);
  }
  .cart-box:hover .cart-icon{
    color:  indianred;
    }
}

@media (min-width: 756px) {
  .menuMobile{
    display: none;
  }
 
  .logo-img-header{
    width: 80px;
  }
  .displayNone{
    display: block;  
  }
  .menu{
    background-color:indianred;
    width: 94%;
    margin-left: 0 !important;
    border-radius: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 3%;
    position: relative;
    z-index: 1;
    visibility: visible;
    top: 0;
  }
  .navbar-list{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 20px 0;
    width: 100%;
    justify-content: space-around;
  }
  .navbar-list li{
    list-style: none;
    padding: 0 10px;
  }
   .navBarOption{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 0.3rem;
  }
  .cart-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border:  rgb(254, 213, 213) 1px solid;
    border-radius: 0.5rem;
    margin: 0;
    box-shadow: 0px 0px 10px 2px rgb(40, 44, 52,0.2);
  }
  .cart-box {
    text-decoration: none;
  }
   .cart-icon{
  padding: 10px;
  }

  
  }

  @media (min-width: 942px) {
    .logo-img-header{
        width: 85px;
      }
    .menu{  
        width: 90%;
        padding: 15px 5%;
    }

  }
  @media (min-width: 1024px) {
    .logo-img-header{
        width: 100px;
      }
    .navBarOption{
        
        font-size: 1rem;}
  }