@media (min-width:0) {    
    .flexButtons{
      width: 54%;
      margin:0 ;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media (min-width:756px) {
    .flexButtons{
      width: 100%;
      margin: 0px;
      justify-content: center;
  }}