@media (min-width:0) {    
    .flexButtons{
      width: 100%;
      margin:0 ;
      display: flex;
      justify-content: center;
      align-items: center;
    }
     .itemCounter{ 
      width: 50px;
      height: 36px;
      margin: 5px 0;
      font-size: 22px;
      /* border-top:indianred 1px solid;
      border-bottom:indianred 1px solid; */
      background-color:indianred;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      background-color: rgb(254, 213, 213,0.9);
      color: indianred;
  }   
  .addToCart{
    text-decoration: none;
    background-color: rgb(254, 213, 213);
    color: indianred;
    border: 0px;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    padding: 7px 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    margin: 10px 0 0 0;
}
.addToCart:hover{
    background-color:white;
}
.itemCount{
  width: 100%;
}
    
  }
  @media (min-width:756px) {
    .flexButtons{
      width: 100%;
      margin: 0px;
      justify-content: center;
  }
  .itemCounter{ 
    width: 35px;
      
  }
}