@media (min-width:0) {
    .itemFlex{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-top: 50px;
    }   
}

@media (min-width:756px) {
    .itemFlex{
        flex-direction: row;
        flex-wrap: wrap;
    }   
}